.bg-white{
    background-color: white;
}

.bg-darkwhite{
    background-color: #f8f9fa;
}

.border-dark{
    border-color: black;
}

.custom-checkbox{
    width: 3rem;
    height: 3rem;
    border-color: darkgrey;
}

.rounded-button{
    border-radius: 12px;
}